{% extends 'home/layout.html' %}

{% load static %}

{% block title %} Login {% endblock %}

{% block style %} <link rel="stylesheet" href="{% static '/css/login.css' %}"> {% endblock %}

{% block body %}
    <!-- <style>
    .login--form{
        width: 320px;;
        height: 450px;
        background: black;
        color: #fff;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        padding:15px 30px;
        font-family: Arial, sans-serif;
        border-radius: 20px;
    }

    h1{
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 30px;
    }
    .login--form p{
        margin: 0;
        padding: 0;
        font-weight: bold;
    }
    .input--form{
        width: 100%;
        margin-bottom: 20px;
        padding: 3px 0px;
    }
    .input--form[type="text"] , [type="password"], select{
        border: none;
        border-bottom: 1px solid	white;
        background:transparent;
        outline: none;
        height: 40px;
        color: white;
        font-size: 16px;
    }
    .input--form[type="submit"]{
        border: none;
        outline: none;
        height: 40px;
        background-color: #9c1818;
        color: #fff;
        font-size: 18px;
        border-radius: 20px;
    }
    .input--form[type="submit"]:hover{
        cursor: pointer;
        background: #cf9e0c;
        color: #000;
        transition-duration: 200ms;
    }
    a#register{
        text-decoration: none;
        font-size: 12px;
        line-height: 20px;
        color: darkgray;
    }
    a#register:hover{
        color:#cf9e0c;
    }
    </style> -->
<div class="login--form">
    <h1>Login</h1>
    {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
    {% elif message %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endif %}
    
    <form action="{% url 'users:login_view' %}" method="post">
        {% csrf_token %}
        <p>Username</p>
        <input name="username" class="input--form" type="text" placeholder="Username"/>

        <p>Password</p>
        <input name="password" class="input--form" type="password" placeholder="Password"/>

        <input type="submit" class="input--form" value="Login"/>
    </form>
    <p><span style="font-size: 15px;">Don't have an account?</span> <a id="register" href="{% url 'users:register_view' %}">Register Here</a></p>
</div>
{% endblock %}
