{% extends 'home/layout.html' %}

{% load static %}

{% block title %} Register {% endblock %}

{% block style %} <link rel="stylesheet" href="{% static '/css/register_view.css' %}"> {% endblock %}

{% block body %}
<!-- <style>
    .Sing-up--form{
        width: 320px;;
        height: 550px;
        background: black;
        color: #fff;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        padding:15px 30px;
        border-radius: 20px;
    }
    h1{
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 22px;
    }
    .Sing-up--form p{
        margin: 0;
        padding: 0;
        font-weight: bold;
    }
    .input--form{
        width: 100%;
        margin-bottom: 20px;
        padding: 3px 0px;
    }
    .input--form[type="text"] , [type="password"], select{
        border: none;
        border-bottom: 1px solid	white;
        background:transparent;
        outline: none;
        height: 30px;
        color: white;
        font-size: 16px;
    }
    .input--form[type="submit"]{
        border: none;
        outline: none;
        height: 40px;
        background-color: #9c1818;
        color: #fff;
        font-size: 18px;
        border-radius: 20px;
        -webkit-transition: 200ms;
        transition: 200ms;
    }
    .input--form[type="submit"]:hover{
        cursor: pointer;
        background: #cf9e0c;
        color: #000;
    }
</style> -->
<div class="Sing-up--form">
    <h1>Sign up</h1>
    {% if message %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endif %}
    <form action="{% url 'users:register_view' %}" method="post">
        {% csrf_token %}
        <p>Username</p>
        <input name="username" class="input--form" type="text" placeholder="Username"/>
        <p>First name</p>
        <input name="first_name" class="input--form" type="text" placeholder="First Name"/>
        <p>Last name</p>
        <input name="last_name" class="input--form" type="text" placeholder="Last Name"/>
        <p>Email</p>
        <input name="email" class="input--form" type="text" placeholder="Email"/>
        <p>Password</p>
        <input name="password"class="input--form" type="password" placeholder="Password"/>
        <input type="submit" class="input--form" value="Register"/>
    </form>
</div>
{% endblock %}