#title{
    font-size: large;
    position: absolute;
    top: 10%;
    width: 100%;
    color: rgb(0, 0, 0);
}
@keyframes title-animation {
    0%{
        opacity: 0%;
        font-size: 9vh;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes slogan-animation {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
h1{
    text-align: center;
    font-family: 'Junegull', sans-serif;
    font-size: 10vh;
    animation-name: title-animation;
    animation-duration: 2s;
    animation-delay: 100ms;
}
body{
    background-color: rgb(255, 255, 255);
}
html, body{
    height: 100%;
}

section#welcome{
    top: 35vh;
    width: 100%;
    position: absolute;
    display: grid;
    place-items: center;
}

section#welcome div{
    width: 80%;
    height: 68vh;
    background-color: black;
    filter: opacity(95%);
    padding: 2vh;
    border-radius: 40px;
}

#slogan{
    color:white;
    font-size: 13vh;
    font-family: 'Junegull', sans-serif;
    animation-name: slogan-animation;
    animation-duration: 4s;
    animation-delay: 300ms;
    filter: opacity(100%);
}

#blocks{
    position: absolute;
    flex-wrap: wrap;
    justify-content: center;
    top: 130vh;
}

.block{
    height: 10vh;
    width: 10vh;
    background-color: white;
    flex: 1 1 150px; /*  Stretching: */
    margin: 5px;
}

#calendar{
    width: 50%;
    height: 70%;
    position: absolute;
    top: 20vh;
    right: 5vh;
    border-radius: 20px;
    animation-name: title-animation;
    animation-duration: 4s;
    animation-delay: 300ms;
}
.page-wrapper{
    min-height: 100%;
}
.footer {
    background-color:#f0cd2c;;
    color: black;
    height: 60px;
    position: relative;
  }
.footer .footer--bottom{
    width: 100%;
    text-align: center;
    height: 40px;
    background-color: black;
    position: absolute;
    bottom: 0px;
    left: 0;
    padding-top: 10px ;
    font-weight: 700;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(184, 184, 184);
}
.footer .Us ul li{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 14px;
    color: black;
    list-style-type: none;
    width: 16%;
    float: left;
    text-align: center;

}
