html{
    background-color: black;
    overflow-x: hidden;
}

body{
    background-image: url("../images/city_wallpaper2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    filter: brightness(100%);
}

.navbar.navbar navbar-expand-lg navbar-dark bg-dark{
    height: 300px;
    background-color: aliceblue;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #020202; 
    opacity: 10%;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(78, 78, 78); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(26, 26, 26); 
}
