body{
    background-color: rgb(44, 44, 44);
}
@keyframes fade {
    0%{
        opacity: 0%;
        padding: 1vh;
    }
    100%{
        opacity: 100%;
    }

    
}   
@keyframes fade2 {
    0%{
        opacity: 0%;
        padding: 1vh;
    }
    100%{
        opacity: 80%;
    }
}       

#username{
    color: rgb(0, 0, 0);
    padding: 5vh;
    animation-name: fade;
    animation-duration: 2s;
    text-align: center;
}
#user_info{
    list-style: none;
}

#user_info li{
    font-weight: bold;
    list-style-type: none;
    color: rgb(173, 173, 173);
    padding: 15px 0px;
}
#user-info-container{
    top: 10vh;
}
#main_wallpaper{
    width: 100%;
    height: max-content;
    position: absolute;
    background-size: contain;
}
.two--color--difference{
    display: block;
    color: rgb(255, 0, 0);
    font-weight: 500;
    border: none;
    border-bottom: 1px solid white;
    width: 87%;           
}
.info--form{
    width: 320px;;
    height: 400px;
    background: black;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    animation-name: fade2;
    animation-duration: 2s;
    border-radius: 20px;
    opacity: 80%;
}
a#sign_out{
    text-decoration: none;
    border: none;
    outline: none;
    height: 40px;
    width: 80%;
    background-color: #9c1818;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    padding: 10px;
    margin: 40px;
    border: none;
    margin: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation-name: fade;
    animation-duration: 2s;
    opacity: 100%;
    text-align: center;
}
a#sign_out:hover{
    cursor: pointer;
    background: #cf9e0c;
    color: #000;
    transition-duration: 200ms;
}
h2{
   font-size: 20px;
}