{% extends 'home/layout.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block style %} <link rel="stylesheet" href="{% static '/css/home.css' %}"> {% endblock %}

{% block body %}
<!-- <style>
    #title{
        font-size: large;
        position: absolute;
        top: 10%;
        width: 100%;
    }
    @keyframes title-animation {
        0%{
            opacity: 0%;
            font-size: 9vh;
        }
        100%{
            opacity: 100%;
        }
    }
    h1{
        text-align: center;
        font-family: 'Junegull', sans-serif;
        font-size: 10vh;
        animation-name: title-animation;
        animation-duration: 2s;
        animation-delay: 100ms;
    }
    body{
        background-color: rgb(255, 255, 255);
    }
    #triangle{
        position: absolute;
        top: 60vh;
        height: 70vh;
        width: 100%;
        background-color: rgb(0, 0, 0);
    }
</style> -->

<div id="title"><h1>Bookify</h1></div>
<section id="welcome">
    <div>
        <div id="slogan">The ultimate <br> store <br> <span style="color: #f0cd2c;">schedule</span>.</div>
        <img id="calendar" src="{% static '/images/calendar.jpg' %}" alt="Somethink Went Wrong!">

</section>
<!-- keeps the footer in place -->
<div class="page-wrapper" >
    
</div>
<!-- keeps the footer in place -->  
<div class="footer">
    <div class="footer--content">
        <div class="footer-section about"></div>
        <div class="footer-section Us">
            <ul>
                <li> D. Tsiantos </li>
                <li> P. Argiropoulos </li>
                <li> B. Skodras </li>
                <li> I. Maximiadis </li>
                <li> A. Zourladanis </li>
                <li> G. Pitenis </li>
            </ul>
        </div>
    </div>
    <div class="footer--bottom">
        &copy; TechGate | GateAway to the future
    </div>
</div>
<!-- <section id="blocks">
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
</section> -->
{% endblock %}
