{% extends 'home/layout.html' %}

{% block title %} Bussiness Info {% endblock %}

{% block body %}
<style>
    @keyframes fade {
        0%{
            opacity: 0%;
            padding: 1vh;
        }
        100%{
        	opacity: 100%;
        }
}
@keyframes fade2 {
        0%{
            opacity: 0%;
            padding: 1vh;
        }
        100%{
            opacity: 80%;
        }
}       

.Bussiness--info{
            width: 330px;;
            height: 500px;
            background: black;
            top: 55%;
            left: 50%;
            position: absolute;
            transform: translate(-50%,-50%);
            border-radius: 20px;
            margin: 0;
            padding: 5% 0;
            font-weight: bold;
            color: white;
            text-align: center;
            font-family: Arial, sans-serif;
        }
    h1{
        font-size: 26px;
        color: rgb(255, 255, 255);
        padding: 3vh;
        animation-name: fade;
        animation-duration: 2s;
        text-align: center;
        text-shadow: 2px 2px #FF0000;
    }
    h2{
        font-size: 18px;
        margin: 0%;
        padding: 0 0 0 20px;
        font-size: 24px;
    }
    p{
        float: left;
        padding: 0%;
        padding-top: 2px;
        padding-left: 24px;
        margin: 0%;
    }
    .input--form[type="submit"]{
        border: none;
        outline: none;
        height: 40px;
        background-color: #9c1818;
        color: #fff;
        font-size: 18px;
        border-radius: 20px;
        -webkit-transition: 200ms;
        transition: 200ms;
        margin-top: 10px;
        display: block;
        top: 90%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        font-weight: 700;
        width: 90%;
    }
    .input--form[type="submit"]:hover{
            cursor: pointer;
            background: #cf9e0c;
            color: #000;
            transition-duration: 200ms;
        }
    .input--form[type="text"], select{
        padding: 10px 0;
        border: none;
        border-bottom: 1px solid	white;
        background:transparent;
        outline: none;
        height: 30px;
        color: white;
        font-size: 16px;
        width: 85%;
    }
    .input--form[type="text"]:last-child{
        padding-bottom: 90px;
    }
    .two--color--difference{
        color: rgb(255, 0, 0);
        font-weight: 700;
        padding-top: 30px;          
        }
.vertical-menu {
    top: 80%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 60px;
    overflow-y: auto;
    border-radius: 20px;
}

.vertical-menu a {
  background-color: #a07905;
  color: black;
  display: block;
  padding: 5px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #640707;
  color: white;
  transition-duration: 200ms;
}

.vertical-menu a.active {
    cursor: pointer;
    background: #ffbf00;
    color: #000;
    transition-duration: 200ms;
}
.vertical-menu a.active:hover{
    background: #ffbf00;
    color: #000;
}
.vertical-menu a.bussiness--category{
    cursor: default;
    background-color: #9c1818;
    color: #fff;
}
    .parent {
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    animation-name: fade;
    animation-duration: 1s;
  }

   .visual {
    color: white;
    font-size: 14px;
    font-weight: 600;
    height: 200px;
    width: 100%;
  }
  .vertical-menu::-webkit-scrollbar {
  display: none;
}
   .card {
    background: rgb(0,0,0);
    background: linear-gradient(54deg, rgba(0,0,0,1) 0%, rgba(77,76,76,1) 47%, rgba(0,0,0,1) 100%);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
  }
.hide--subs{
    display: none;
}
   h3{
    color: white;
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    text-align: center;
    margin: 0
  }
#Sub--link{
    color: #9c1818;
    font-size: 16px;
    text-decoration: none;
}
#Sub--link:hover{
    color: #ffbf00;
    transition-duration: 200ms;
    }
    .visual a{
    display: block;
    text-align: right;
    color: #9c1818;
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    }
    .visual a:hover{
    color: #ffbf00;
    transition-duration: 200ms;
    }
    a.selected{
        color: rgb(6, 158, 6);
    }
</style>

<div class="Bussiness--info">
    <h2>Sign Up Your Business!</h2>
    <p> Name of your Business </p>
    <input name="Business Name" class="input--form" type="text" placeholder="Business Name"/>
    <p> Business Email </p>
    <input name="email" class="input--form" type="text" placeholder="Email"/>
    <p> Business Address</p>
    <input name="Address" class="input--form" type="text" placeholder="Address"/>
    <p> Phone Number</p>
    <input name="Phone" class="input--form" type="text" placeholder="Phone"/>
    <a href="#" id="Sub--link" >Subscription Choices</a>
    <input type="submit" class="input--form" value="Register"/>
    <div class="vertical-menu">
        <a href="#"  class="bussiness--category">Business Category</a>
        <a href="#" id="link1" class="active">Restaurant</a>
        <a href="#" id="link2">Shop</a>
        <a href="#" id="link3">Coffee Shop</a>
    </div>
    
</div >
<div id="Subscribition--plan" class="hide--subs">
<div class="parent white">
   <div class="card yellow">
     <h3>Subscription 1</h3>
     <p contenteditable></p>
     <div class="visual">
        Info
        <a href="#" id="choose--me1">Select</a>
     </div>
   </div>
   <div class="card">
     <h3>Subscription 2</h3>
     <p contenteditable></p>
     <div class="visual">
        Info
        <a href="#" id="choose--me2">Select</a>
     </div>
   </div>
   <div class="card yellow">
     <h3>Subscription 3</h3>
     <p contenteditable></p>
     <div class="visual">
         Info
        <a href="#" id="choose--me3">Select</a>
     </div>
   </div>
 </div>
 </div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const RestaurantLink = document.querySelector("#link1");
        const ShopLink = document.querySelector("#link2");
        const coffeShopLink = document.querySelector("#link3");
        document.querySelector("#link1").addEventListener("click", e => {
            e.preventDefault();
            RestaurantLink.classList.add("active");
            ShopLink.classList.remove("active");
            coffeShopLink.classList.remove("active");
        });
        document.querySelector("#link2").addEventListener("click", e => {
            e.preventDefault();
            RestaurantLink.classList.remove("active");
            ShopLink.classList.add("active");
            coffeShopLink.classList.remove("active");
        });
        document.querySelector("#link3").addEventListener("click", e => {
            e.preventDefault();
            RestaurantLink.classList.remove("active");
            ShopLink.classList.remove("active");
            coffeShopLink.classList.add("active");
        });
    });
    document.addEventListener("DOMContentLoaded", () => {
        const SubscribitionButton = document.querySelector("#Subscribition--plan");
        document.querySelector("#Sub--link").addEventListener("click", e => {
            e.preventDefault();
            SubscribitionButton.classList.toggle("hide--subs")
        });
    });
    document.addEventListener("DOMContentLoaded", () => {
        const chooseMe1 = document.querySelector("#choose--me1");
        const chooseMe2 = document.querySelector("#choose--me2");
        const chooseMe3 = document.querySelector("#choose--me3");
        document.querySelector("#choose--me1").addEventListener("click", e => {
            e.preventDefault();
            chooseMe1.classList.add("selected");
            chooseMe2.classList.remove("selected");
            chooseMe3.classList.remove("selected");
        });
        document.querySelector("#choose--me2").addEventListener("click", e => {
            e.preventDefault();
            chooseMe1.classList.remove("selected");
            chooseMe2.classList.add("selected");
            chooseMe3.classList.remove("selected");
        });
        document.querySelector("#choose--me3").addEventListener("click", e => {
            e.preventDefault();
            chooseMe1.classList.remove("selected");
            chooseMe2.classList.remove("selected");
            chooseMe3.classList.add("selected");
        });
       
    });
</script>
{% endblock %}
    
